body {
  background-color: #d4eae9;
}

.topBar {
  background-color: white;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  left: -5px;
  top: -6px;
}

.logo {
  position: relative;
  top: -10px;
}

.loginBox {
  width: 600px;
  height: 600px;
  background-color: white;
  position: relative;
  left: 30%;
  top: 150px;
  padding: 20px;
  color: gray;
  font-family: arial;
}

h2 {
  text-align: center;
  color: gray;
}

b {
  position: relative;
  left: 20px;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 20px;
}

button {
  background-color: #09a59a;
  color: white;
  position: relative;
  left: 30%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 20px;
}

.registration{
  
  color:#09a59a; 
  position:relative;
  top:100px;
  right:175px;
 
  
}

.checkBox {
  position: relative;
  top: 50px;
  left: -10px;
}
